.data-filter-element{
    margin: 0 5px 0 5px;
    max-width: 150px;
    user-select: none;
    float: left;

    .data-name{
        float: left;
        width: 50px;
    }
    
    .data-value{
        float: right;
        width: 50px;
    }

    input{
        margin: 0;
        width: 100px;
        max-width: 100px;
        height: 20px;
    }
}
