@use './sass/variables' as v;

.App {
  width: 100vw;
  height: 100vh;
  color: v.$text-color;
  text-align: center;
}

.data-border{
  border: 2px v.$text-color solid;
  border-radius: 10px;
}

.data-filter{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  margin: 10px;
  overflow: hidden;
  transition: all .7s;
  &.hidden{
    height: 0;
    transition: all .7s;
  }
}

button{
  color: v.$text-color;
  border-color: v.$text-color;
  background-color: v.$btn-bg-color;
  padding: 5px;
  border-radius: 10px;
}

button:disabled{
  cursor: auto !important;
}

button:focus, button:hover{
  cursor: pointer;
}